body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}

textarea {
    width: 60%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #ff4b2b;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.answer {
    margin-top: 20px;
    background: white;
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

